.child3 {}

.class__l1 .class__child1 {
  padding: 1px;
}

.class__l1 > .class__child2 {
  padding: 2px;
}

.class__l1 + .class__child2 {
  padding: 2px;
}

.class__l1 ~ .class__child2 {
  padding: 2px;
}

.class__l1 .child3 {
  padding: 3px;
}

.class__child1 {}
.class__child2 {}
