.child4 {}

.class__l1 .class__child1 {
  padding: 1px;
}

.class__l1 > .class__child2 {
  padding: 2px;
}

.class__l1 + .class__child2 {
  padding: 2px;
}

.class__l1 ~ .class__child2 {
  padding: 2px;
}

.class__li ~ .class__child2 > .class__child3:first-child {
  padding: 3px;
}

.class__li ~ .class__child2 > .class__child3:nth-child(1) {
  padding: 3px;
}

.class__l1 .child4 {
  padding: 4px;
}

.class__child1 {}
.class__child2 {}
.class__child3 {}
