.child4 {}

@prefix class;

.l1 .child1 {
  padding: 1px;
}

.l1 > .child2 {
  padding: 2px;
}

.l1 + .child2 {
  padding: 2px;
}

.l1 ~ .child2 {
  padding: 2px;
}

.li ~ .child2 > .child3:first-child {
  padding: 3px;
}

.li ~ .child2 > .child3:nth-child(1) {
  padding: 3px;
}

.l1 .child4 {
  padding: 4px;
}

.child1 {}
.child2 {}
.child3 {}
