.class__l1 .l2 {
  padding: 0;
}

.class__l1 .class__l2 {
  padding: 1px;
}

.class__l1 .l2 .class__l3 {
  padding: 2px;
}

.class__l1 > .l2 .class__l3 {
  padding: 3px;
}

.class__l1:hover .class__l2 > #l3 {
  padding: 4px;
}
